{% extends "base.html" %}
{% block content %}
    <div class="page-div">
        <div class="container">
            <h1>You have cancelled your Transcript Order!</h1>
            <h3>Where did we go wrong, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.email }}{% endif %}?</h3>
            <p>Why not head over to our Customer Form and let us know what happened.</p>
            <a class="btn btn-primary" href="{% url 'forum' %}">Customer Forum</a>
        </div>
    </div>
{% endblock %}