/* FORUM APP STYLE */

/* FORUM SUBJECTS */

.forum-subjects {
    padding: 100px 0 20px 0;
    background: url("../img/blue-clouds-day-fluffy-53594.jpeg") center fixed;
    background-size: cover;
}

.forum-subjects.grid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
}

.form-subjects.subject {
    border-width: 2px 0;
    border-color: black;
    border-style: solid;
    width: 80%;
    margin-bottom: 15px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 6%, rgba(255, 255, 255, 1) 7%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 93%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 6%, rgba(255, 255, 255, 1) 7%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 93%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 6%, rgba(255, 255, 255, 1) 7%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 93%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
}

/* THREADS */

.back-btn {
    color:white;
}

.jumbotron {
    background: url("../img/blue-clouds-day-fluffy-53594.jpeg") center fixed;
    background-size: cover;
    color:black;
}

/* FORUM FORMS */

.forum-form {
    padding: 100px 100px;
    background: url("../img/blue-clouds-day-fluffy-53594.jpeg") center fixed;
    background-size: cover;
}

.forum-form form {
    background-color:white;
    padding:20px;
    border-radius: 10px;
}



/*//////////////////////////////////////*/

.styled-section {
    text-align: center;
    background-color: #d6ebf2;
    padding: 15px 0;
}

.styled-section a {
    color: black;
}

.styled-section p {
    width: 50%;
    margin: auto;
}

.forum-subject-table {
    margin: 35px auto;
}

th {
    padding-right: 20px;
}

.new-thread-btn {
    margin: 10px;
}

.thread-item-section {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.thread-item-title {
    padding-left: 10px;
}

.thread-item-info {
    margin-left: 100px;
    padding-left: 150px;
}

.comment-btn {
    margin: 20px;
}

.poll {
    position: fixed;
    margin-top: 100px;
}

.profo-pic {
    height: 80px;
    width: 80px;
}

.comment {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FDFDFD;
    margin: 10px 0;
    padding-top: 10px;
    border-radius: 10px;
}

.comment-profile, .comment-details {
    flex: 1;
}

.comment-content {
    flex: 2;
}

.comment-profile {
    margin-left: 10px;
}
