/* ORDER REVIEW */

.order-item {
    margin-bottom:20px;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}

.transcript-details-box {
    flex: 1;
    min-width:150px;
}

.upload-details-box {
    flex:1;
    min-width:150px;
}

.purchase-order-box {
    flex:1;
    min-width:150px;
}


/*TRACKED ORDERS*/
.transcript-tracker-ticket {
    border: 8px solid lightblue;
    border-radius: 20px;
    margin: 25px 100px;
    text-align:center;
}

.transcript-tracker-ticket span {
    font-weight:bold;
}

.transcript-tracker-ticket-top, .tracker-ticket-files {
    display:flex;
    flex-flow:row;
    justify-content: space-around;
    align-items: center;
}

.transcript-tracker-ticket-top {
    background-color: #cde7f0;
}

.tat-indicator  {
    flex: 1;
}

.tracker-ticket-left, .tracker-ticket-center-files, .tracker-ticket-center-details {
    flex: 2;
}

.standard-indicator-circ {
    display:flex;
    align-items: center;
    justify-content: center;
}

.standard-indicator-icon {
    background: url("../icons/typewriter.png") center;
    background-size:contain;
    height:80px;
    width:80px;
}

.tracker-ticket-left p {
    margin:0;
}

.tracker-ticket-left p:nth-child(1) {
    font-size: 12px;
}

.tracker-ticket-left p:nth-child(odd) {
    margin-bottom:2px;

}

.tracker-ticket-left span {
    font-size:12px;
}

.full-detail-link {
    cursor: pointer;
}

.tracker-ticket-files p {
    margin-right: 5px;
}


#full-details {
    font-size: 12px;
    text-align:right;
    padding: 0 10px;
    background-color: lightblue;
}

.transcript-tracker-ticket-bottom {
    padding:10px 0;
    background-color:silver;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.transcript-tracker-ticket-bottom p {
    text-align:center;
}

.review-details {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.review-details p {
    margin-right:5px;
}