{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="order-review opening center">
        <h1>Nearly there!</h1>
    </div>

    <div class="order-review ticket">

        {% for detail in transcript_details %}
            <div class="order-review box">
                <div class="order-review id">
                    <h3>{{ detail.id }}</h3>
                </div>
                <div class="order-review main">
                    <div class="order-review left">
                        <div class="order-review left-details">
                            <div class="order "
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}