{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="page-div">
    <h1>Order Review</h1>
    {% for upload in uploads %}
        <div class="col-sm-6">
            <p><strong>File Name:</strong> {{ upload.file_name }}</p>
            <p><strong>Uploaded at:</strong> {{ upload.uploaded_at }}</p>
            <p><strong>File Length:</strong> {{ upload.file_length_mins }}mins</p>
            <p><strong>Status:</strong> {{ upload.status }}</p>
            <hr>
        </div>
    {% endfor %}
    {% for detail in transcript_details %}
        <div class="col-sm-6">
            <p><strong>Category: </strong>{{ detail.category }}</p>
            <p><strong>Number of Speakers: </strong>{{ detail.num_speakers }}</p>
            <p><strong>TimeStamps: </strong>{{ detail.timestamps }}</p>
            <p><strong>Turn Around Time: </strong>{{ detail.tat }}</p>
            <p><strong>Audio Quality: </strong>{{ detail.audio_quality }}</p>
            <h1><strong>Total Cost: </strong>{{ detail.total_price }}</h1>
            {{ detail.paypal_form.sandbox }}
        </div>
    {% endfor %}
    </div>
{% endblock %}