{% extends "base.html" %}
{% load staticfiles %}
{% load upload_extras %}
{% block content %}
    <div class="page-div">
        <div class="container">
            <h1>Saved For Later</h1>
            <div class="saved-for-later">

                {% for detail in transcript_details %}
                    <div class="saved-for-later-boxes">
                        <div class="saved-for-later-id">
                            <h3>Order ID {{ detail.id }}</h3>
                        </div>
                        <div class="saved-for-later-box">

                            <div class="file-div">
                                <p><span>Files</span></p>
                                <div>
                                    {% for file in detail.uploaded_files.all %}
                                        <ul>
                                            <li>{{ file.file_name }}</li>
                                        </ul>

                                    {% endfor %}
                                </div>
                            </div>

                            <div class="saved-for-later-details">

                                <p><span>Category: </span>{{ detail.category }}</p>
                                <p><span>Number of Speakers: </span>{{ detail.num_speakers }}</p>
                                <p><span>Timestamps: </span>{{ detail.timestamps }}</p>
                                <p><span>Turn Around Time: </span>{{ detail.tat }}</p>
                                <p><span>Audio Quality: </span>{{ detail.audio_quality }}</p>

                            </div>

                            <h3 id="saved-for-later-total">Total Cost: €{{ detail.total_price }}</h3>
                        </div>
                        <div class="saved-for-later-buy-now">
                            {{ detail.paypal_form.sandbox }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}