{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="page-div">
        <div class="container">
            <form class="dropzone" role="form" method="post" action="{% url 'uploadfiles' %}" enctype="multipart/form-data">
                <legend>Upload Files</legend>
                {% csrf_token %}
                <div class="form-group">
                <button type="submit" class="btn btn-primary" id="submit-all">Upload File(s)</button>
            </div>
            </form>

        </div>
    </div>

    <script type="text/javascript">
        Dropzone.options.myDropzone = {

            // Prevents Dropzone from uploading dropped files immediately
            autoProcessQueue: false,

            init: function () {
                var submitButton = document.querySelector("#submit-all")
                    myDropzone = this;

                submitButton.addEventListener("click", function () {
                    myDropzone.processQueue();
                    // Tell Dropzone to process all queued files.
                });

                // You might want to show the submit button only when
                // files are dropped here:
                this.on("addedfile", function () {
                    // Show submit button here and/or inform user to click it.
                    submitButton.style.display = 'block';
                });

            }
        };
    </script>

{% endblock %}

