{% extends "base.html" %}
{% load thread_extras %}
{% load staticfiles %}
{% block content %}
    {% load bootstrap_tags %}
    <div class="forum-subjects">
        <div class="forum-subjects grid">
            {% for subject in subjects %}
                <div class="form-subjects subject">
                    <h2><a href="{% url 'threads' subject.id %}">{{ subject.name }}</a></h2>
                    <p><a href="{% url 'threads' subject.id %}">
                        {% autoescape off %}{{ subject.description }}{% endautoescape %}
                    </a></p>

                    <table align="center" class="forum-subject-table">
                        <tr>
                            <th>THREADS</th>
                            <th>POSTS</th>
                        </tr>
                        <tr>
                            <td>{{ subject.threads.count }}</td>
                            <td>{{ subject|get_total_subject_posts }}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}