{% load staticfiles %}
{% load emoticons_tags %}
<div class="comment-wrapper">
    <div class="row comment col-sm-12">
        <div class="comment-profile">
            {% if post.user.image %}
                <p><img src="/media/{{ post.user.image }}" class="profo-pic"/></p>
            {% else %}
                <p><img src="{% static "icons/happy-face.png" %}" class="profo-pic"/></p>
            {% endif %}
            {% if post.user.first_name %}
                <p><strong>{{ post.user.first_name }}</strong></p>
            {% else %}
                <p><strong>{{ post.user.username }}</strong></p>
            {% endif %}
            <p>{{ post.user.posts.count }} POSTS</p>
        </div>
        <div class="comment-content">
            {% autoescape off %}
                {{ post.comment|emoticons }}
            {% endautoescape %}
        </div>
        <div class="comment-details">
            {% include "comment_details.html" %}
        </div>
    </div>
</div>
