{% extends "base.html" %}
{% load thread_extras %}
{% load staticfiles %}
{% block content %}
    <div class="page-div">
        <div class="container">
            <h2>{{ thread.name }}</h2>
            <!-- THREAD EXTRAS TABLE -->
            <div class="col-sm-12">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>
                            CREATED
                        </th>
                        <th>OWNER</th>
                        <th>LAST POST</th>
                    </tr>
                    <tr>
                        <td>
                            <time datetime="{{ thread.created_at }}">
                                {{ thread.created_at|started_time }}
                            </time>
                        </td>
                        <td>{{ thread.user.username }}</td>
                        <td>{% last_posted_user_name thread %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- THREAD EXTRAS TABLE -->
            {% if thread.poll %}
                <div class="container">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6 poll">
                        <h2>Poll</h2>
                        <strong>{{ thread.poll.question }}</strong><br><br>

                        <p>Here’s how the votes are so far:</p>
                        {% for subject in thread.poll.subjects.all %}
                            <div class="col-sm-9">
                                <strong>{{ subject.name }}</strong>
                                <span class="pull-right">{{ subject|vote_percentage }}%</span>
                            </div>
                            <div class="col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar"
                                         aria-value="{{ subject|vote_percentage }}" aria-valuemin="0"
                                         aria-valuemax="100" style="width:{{ subject|vote_percentage }}%;">
                                    </div>
                                </div>
                            </div>
                            {% autoescape off %}
                                {% user_vote_button thread subject user %}
                            {% endautoescape %}
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        {% if user.is_authenticated %}
                            <p>
                                <a href="{% url 'new_post' thread.id %}" class="btn btn-primary comment-btn">Leave A
                                    Comment</a>
                            </p>
                        {% endif %}
                        {% for post in thread.posts.all %}
                            {% include "post.html" %}
                        {% endfor %}
                    {% if user.is_authenticated %}
                        <p>
                            <a href="{% url 'new_post' thread.id %}" class="btn btn-primary comment-btn">Leave A
                                Comment</a>
                        </p>
                    {% endif %}
                    </div>

                </div>
            {% else %}
                {% for post in thread.posts.all %}
                    {% include "post.html" %}
                {% endfor %}
                {% if user.is_authenticated %}
                    <p>
                        <a href="{% url 'new_post' thread.id %}" class="btn btn-primary comment-btn">Leave A Comment</a>
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}