{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="page-div">
        <div>
            <div class="container default-form">

                <form role="form" method="post" action="{% url 'editprofile' %}" enctype="multipart/form-data">
                    <legend>Edit Profile</legend>
                    {% csrf_token %}

                    <h4>Customize your profile, add or update information - let us know who you are!</h4>
                    <div class="skinny-form">
                        {% if not user.first_name %}
                            <div id="div_id_first_name" class="form-group ">
                                <label for="id_first_name" class="control-label ">
                                    Add First Name
                                </label>
                                <div class="">
                                    <input class=" form-control" id="id_first_name" name="first_name" type="text"/>
                                </div>
                                {{ form.first_name.errors }}
                            </div>
                        {% endif %}

                        {% if not user.last_name %}
                            <div id="div_id_last_name" class="form-group  ">
                                <label for="id_last_name" class="control-label">
                                    Add Second Name
                                </label>
                                <div class="">
                                    <input class=" form-control" id="id_last_name" name="last_name" type="text"/>
                                </div>
                                {{ form.last_name.errors }}
                            </div>
                        {% endif %}


                        <div id="div_id_company" class="form-group ">
                            <label for="id_company" class="control-label ">
                                {% if user.company %}Update Company Name{% else %}Add Company Name{% endif %}
                            </label>
                            <div class="">
                                <input class=" form-control" id="id_company" name="company" type="text"
                                       value="{{ user.company }}"/>
                            </div>
                            {{ form.company.errors }}
                        </div>


                        <div id="div_id_phone_number" class="form-group ">
                            <label for="id_phone_number" class="control-label">
                                {% if user.phone_number %}Update Phone Number{% else %}Add Phone Number{% endif %}
                            </label>
                            <div class="">
                                <input class=" form-control" id="id_phone_number" name="phone_number" type="text"
                                       value="{{ user.phone_number }}"/>
                            </div>
                            {{ form.phone_number.errors }}
                        </div>

                        <div id="div_id_location" class="form-group ">
                            <label for="id_location" class="control-label  ">
                                {% if user.location %}Update Location{% else %}Add Location{% endif %}
                            </label>
                            <div class="">
                                <select class=" form-control" id="id_location" name="location"
                                        onchange="var e=document.getElementById(&#39;flag_&#39; + this.id); if (e) e.src = &#39;/static/flags/{code}.gif&#39;.replace(&#39;{code}&#39;, this.value.toLowerCase() || &#39;__&#39;).replace(&#39;{code_upper}&#39;, this.value.toUpperCase() || &#39;__&#39;);">
                                    <option value="{{ user.location }}"
                                            selected="selected">{{ user.location.name }}</option>
                                    {% for id, name in form.location.field.choices %}
                                        <option value="{{ id }}">{{ name }}</option>
                                    {% endfor %}
                                </select><img class="country-select-flag" id="flag_id_location"
                                              style="margin: 6px 4px 0"
                                              src="/static/flags/__.gif">
                            </div>
                            {{ form.location.errors }}
                        </div>

                        <div class="profile-update-field">
                            <div id="div_id_image" class="form-group ">

                                <label for="id_image" class="control-label  ">
                                    Add/Update Profile Image
                                </label>
                                <br>
                                {{ form.image }}
                                {{ form.image.errors }}
                            </div>
                            <div class="profile-update-image">
                                <img src="/media/{{ user.image }}" class="profile-welcome-pic"/>
                            </div>
                        </div>

                        <div class="form-group col-sm-12 submit-btn">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}