{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="page-div">
        <div class="legend-div"><legend>Create a new account</legend></div>
        <div class="container default-form">
            <form role="form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">

                {% csrf_token %}
                <h4>Register with Type It Now!<br><br>Make Transcription Orders and be a part of the community!</h4>
                <div class="skinny-form">
                    {{ form|as_bootstrap }}
                </div>
                <div class="form-group submit-btn">
                    <button type="submit" class="btn btn-primary">Create account</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}