<div class="about">

    <div class="about-1">
        <div class="about-info" id="about-info-default">
            <h1>ABOUT US</h1>
            <p>Type It Now is an audio and video transcription service. We do academic, medical,
                and legal transcription. The transcripts we produce are manually typed by experienced
                transcriptionists and are at least 99% accurate – transcripts are delivered in Microsoft
                Word documents.</p>
            <div class="about-1-icons">
                <div id="about-1-fb"></div>
                <div id="about-1-google"></div>
                <div id="about-1-twitter"></div>
            </div>
        </div>
        <!--- These are containers for text to go in the ABOUT 1 BOX -->
        <div class="about-info" id="about-info-TAT">
            <h1>Turn Around Time</h1>
            <h4>The Turn Around Time Information</h4>
        </div>
        <div class="about-info" id="about-info-TimeStamps"></div>
        <div class="about-info" id="about-info-Accents"></div>
        <div class="about-info" id="about-info-Formatting"></div>
        <div class="about-info" id="about-info-FileTypes"></div>
        <div class="about-info" id="about-info-Conf"></div>
        <!------------------------------------------------------------->
    </div>

    <div class="about-2">
        <h1>What We Offer</h1>
        <div class="about-2-icons">
            <div class="about-2-icon-box active-item">
                <h4>Turn Around Time</h4>
                <div id="about-2-icon-1" class="active-box"></div>
            </div>
            <div class="about-2-icon-box">
                <h4>Time Stamps</h4>
                <div id="about-2-icon-2"></div>
            </div>
            <div class="about-2-icon-box">
                <h4>Accents</h4>
                <div id="about-2-icon-3"></div>
            </div>
            <div class="about-2-icon-box">
                <h4>Formatting</h4>
                <div id="about-2-icon-4"></div>
            </div>
            <div class="about-2-icon-box">
                <h4>File Types</h4>
                <div id="about-2-icon-5"></div>
            </div>
            <div class="about-2-icon-box">
                <h4>Confidentiality</h4>
                <div id="about-2-icon-6"></div>
            </div>
        </div>

    </div>
</div>