{% extends "base.html" %}
{% block content %}
    <div class="index">

        <div class="landing" id="page-top">

            <div class="landing-wrapper-1">
                <div class="landing-type"></div>
            </div>

            <div class="landing-wrapper-2">
                <h1>TRANSCRIPTION MADE EASY</h1>
                <button class="btn landing-btn"><a href="{% url 'instantquote' %}">Get a Quote</a></button>
            </div>

        </div>

        <div id="about-anchor"></div>

        <!-- ABOUT SECTION -->

        <div class="about">

            <!-- About text information -->

            <div class="about-1">

                <div class="about-info" id="about-info-default">

                    <h1>TURN AROUND TIME</h1>
                    <!--<p>Type It Now is an audio and video transcription service. We do academic, medical,
                        and legal transcription. The transcripts we produce are manually typed by experienced
                        transcriptionists and are at least 99% accurate – transcripts are delivered in Microsoft
                        Word documents.</p>-->
                    <p>We offer a standard turnaround of 3 – 4 business days, depending on the size of
                        the order. We also offer 24-hour and 48-hour turnarounds but additional fees apply. View Pricing
                        for more details.</p>

                    <div class="about-1-icons">
                        <div id="about-1-fb"></div>
                        <div id="about-1-google"></div>
                        <div id="about-1-twitter"></div>
                    </div>

                </div>

                <div class="about-info" id="about-info-2">

                    <h1>TIME STAMPS</h1>
                    <p>If you require time-stamping on your transcripts, be sure to let us know when you’re
                        getting in touch. There is a small additional fee of €0.15/per audio minute for time stamps.</p>

                    <div class="about-1-icons">
                        <div id="about-1-fb"></div>
                        <div id="about-1-google"></div>
                        <div id="about-1-twitter"></div>
                    </div>

                </div>

                <div class="about-info" id="about-info-3">

                    <h1>ACCENTS</h1>
                    <p>If you are concerned about heavily accented speakers within the audio material, don’t
                        worry, we hire only highly experienced and fully vetted transcriptionists who have dealt with
                        most
                        accents.</p>

                    <div class="about-1-icons">
                        <div id="about-1-fb"></div>
                        <div id="about-1-google"></div>
                        <div id="about-1-twitter"></div>
                    </div>

                </div>

                <div class="about-info" id="about-info-4">

                    <h1>FORMATTING</h1>
                    <p>The formatting used for every transcript is very clean, clear and professional. At the
                        beginning of each transcript, there is a portion for the file details, i.e., title, length of
                        audio, number
                        of speakers, and audio quality. For two-speaker audio files, the speakers are denoted as
                        interviewer/interviewee or speaker 1/speaker 2. For audio files with more than two speakers, the
                        interviewer is denoted with bold and italic font and the interviewee is denoted with standard
                        font. If you would like a more specific format,
                        let us
                        know and send in a template when placing the order.</p>

                    <div class="about-1-icons">
                        <div id="about-1-fb"></div>
                        <div id="about-1-google"></div>
                        <div id="about-1-twitter"></div>
                    </div>

                </div>

                <div class="about-info" id="about-info-5">

                    <h1>FILE TYPES</h1>
                    <p>We accept mostly all media formats including: MP3, MP4, WMV, AIF, M4A, MOV,
                        AVI, VOB, AMR, WMA, OGG, and WAV.</p>

                    <div class="about-1-icons">
                        <div id="about-1-fb"></div>
                        <div id="about-1-google"></div>
                        <div id="about-1-twitter"></div>
                    </div>

                </div>

                <div class="about-info" id="about-info-6">

                    <h1>CONFIDENTIALITY</h1>
                    <p>We understand that confidentiality is very important for some of our clients. We
                        ensure that all of your work is kept confidential by having every member of our team sign a
                        confidentiality agreement (NDA) before coming on board. We also encourage our transcriptionists
                        to immediately delete audio material once they have finished transcribing and proofreading
                        it.</p>

                    <div class="about-1-icons">
                        <div id="about-1-fb"></div>
                        <div id="about-1-google"></div>
                        <div id="about-1-twitter"></div>
                    </div>

                </div>

            </div>

            <!-- About text information END -->

            <!-- About icons -->

            <div class="about-2">

                <h1>What We Offer</h1>

                <div class="about-2-icons">

                    <div id="ih1" class="about-2-icon-box active-item">
                        <h4>Turn Around Time</h4>
                        <div id="about-2-icon-1" class="active-box"></div>
                    </div>

                    <div id="ih2" class="about-2-icon-box">
                        <h4 id="ih2">Time Stamps</h4>
                        <div id="about-2-icon-2"></div>
                    </div>

                    <div id="ih3" class="about-2-icon-box">
                        <h4 id="ih3">Accents</h4>
                        <div id="about-2-icon-3"></div>
                    </div>

                    <div id="ih4" class="about-2-icon-box">
                        <h4 id="ih4">Formatting</h4>
                        <div id="about-2-icon-4"></div>
                    </div>

                    <div id="ih5" class="about-2-icon-box">
                        <h4 id="ih5">File Types</h4>
                        <div id="about-2-icon-5"></div>
                    </div>

                    <div id="ih6" class="about-2-icon-box">
                        <h4 id="ih6">Confidentiality</h4>
                        <div id="about-2-icon-6"></div>
                    </div>

                </div>

            </div>

            <!-- About icons -->

        </div>

        <!-- ABOUT SECTION END -->

        <!-- SERVICES SECTION -->

        <!-- Services Boxes -->

        <div class="container">
            <div id="services-anchor"></div>
            <div class="services">
                <div class="services-box">
                    <div class="services-title">
                        <h3>Custom Transcription Services</h3>
                    </div>
                    <div class="services-content">
                        <div id="services-icon-1"></div>
                        <p>Format your files to look exactly as you need them to look with custom formatting.</p>
                        <button class="btn services-btn"><a href="{% url 'instantquote' %}">Transcribe</a></button>
                    </div>
                </div>

                <div class="services-box">
                    <div class="services-title">
                        <h3>Audio and Video Transcription Services</h3>
                    </div>
                    <div class="services-content">
                        <div id="services-icon-2"></div>
                        <p>Type It Now accepts both audio and video material for transcription.</p>
                        <button class="btn services-btn"><a href="{% url 'instantquote' %}">Transcribe</a></button>
                    </div>
                </div>

                <div class="services-box">
                    <div class="services-title">
                        <h3>Academic Discount</h3>
                    </div>
                    <div class="services-content">
                        <div id="services-icon-3"></div>
                        <p>For students, we offer a 10% discount on the standard rate. </p>
                        <button class="btn services-btn"><a href="{% url 'instantquote' %}">Transcribe</a></button>
                    </div>
                </div>
            </div>

            <!-- Services Boxes END -->

            <!-- Quote Circles -->

            <div class="quote ">
                <div class="quote-circ-background">
                    <div class="quote-circ" id="quote-circ-1">

                        <div class="quote-title">
                            <h2>Want an Instant Quote?</h2>
                        </div>
                        <button class="btn quote-btn"><a href="{% url 'instantquote' %}">Instant Quote Calculator</a>
                        </button>
                    </div>
                </div>
                <div class="quote-circ-background">
                    <div class="quote-circ" id="quote-circ-2">

                        <div class="quote-title">
                            <h2>Want a Custom Quote?</h2>
                        </div>
                        <button class="btn quote-btn"><a href="{% url 'customquote' %}">Custom Quote Form</a></button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Quote Circles END -->

        <!-- SERVICES SECTION END -->


        <div id="process-anchor"></div>

        <!-- PROCESS SECTION -->

        <!-- Processes Icons -->

        <div class="process">

            <div class="process-boxs active-item" id="process-box-icon-1">
                <div class="process-box-1">
                    <div id="process-icon-1" class="process-fade active-box"></div>
                    <h4>Discuss</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-1">1</div>
                </div>
            </div>

            <div class="process-boxs" id="process-box-icon-2">
                <div class="process-box-1">
                    <div id="process-icon-2" class="process-fade active-box"></div>
                    <h4>Upload</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-2">2</div>
                </div>
            </div>

            <div class="process-boxs" id="process-box-icon-3">
                <div class="process-box-1">
                    <div id="process-icon-3" class="process-fade active-box"></div>
                    <h4>Wait</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-3">3</div>
                </div>
            </div>

            <div class="process-boxs" id="process-box-icon-4">
                <div class="process-box-1">
                    <div id="process-icon-4" class="process-fade active-box"></div>
                    <h4>Pick Up</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-4">4</div>
                </div>
            </div>

        </div>

        <!-- Processes Icons END -->

        <!-- Process Information -->

        <div class="process-info-main">

            <div class="process-info" id="process-box-info-1">
                <div class="process-info-header">
                    <h2>Let Us Know What You Need</h2>
                </div>
                <div class="process-info-content">
                    <p>Once you have gotten in touch and received your quote, if you’d like to proceed, the next
                        step is to upload your files. After uploading, you then will proceed with submitting the
                        payment. As
                        soon as the payment comes through, you will receive a confirmation email letting you know the
                        files
                        have been received, the payment has come through, and you’ll receive your transcripts within the
                        selected turnaround time.</p>
                </div>
            </div>

            <div class="process-info" id="process-box-info-2">
                <div class="process-info-header">
                    <h2>Upload Files Securely</h2>
                </div>
                <div class="process-info-content">
                    <p>To upload files, go to the Upload page where you can upload your material to our secure file
                        sharing system. </p>
                </div>
            </div>

            <div class="process-info" id="process-box-info-3">
                <div class="process-info-header">
                    <h2>Timing Is Everything</h2>
                </div>
                <div class="process-info-content">
                    <p>When files have been uploaded and payment has been confirmed, the next step is to wait!
                        The transcripts will be emailed back to you within the specified turnaround time.</p>
                </div>
            </div>

            <div class="process-info" id="process-box-info-4">
                <div class="process-info-header">
                    <h2>Click and Collect</h2>
                </div>
                <div class="process-info-content">
                    <p>Your transcripts will be delivered straight to your email inbox so once you place your order no
                        further action is required.</p>
                </div>
            </div>

        </div>


        <!-- Process Information -->

        <!-- PROCESS SECTION END -->

        <!-- TESTIMONIALS SECTION -->

        <div class="testimonials" id="testimonials-anchor">
            <div class="container">
                <div class="row">
                    <div>
                        <h1>Testimonials</h1>
                    </div>
                </div>
                <div class='row'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>


                        <div class="carousel-inner">


                            <div class="item active">
                                <div class="testimonial-box">
                                    <blockquote>

                                        <p>Type It Now has had excellent communication from the start and liaised well
                                            with
                                            us when there was a small hiccup mid-way through our two-step contract.
                                            They have stuck to deadlines and provided us with clear, high-quality
                                            transcripts. They have been flexible around difficulties we have had in
                                            terms
                                            of clearing payment and working across time-differences.</p>
                                        <small>John Moore</small>

                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-box">
                                    <blockquote>

                                        <p>We've contacted Type It Now many times for transcription work and each time
                                            has been
                                            an absolute pleasure and the work has been of the highest quality.
                                            Thank you Type It Now!</p>
                                        <small>Mary Regan</small>

                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-box">
                                    <blockquote>

                                        <p>Type It Now provides excellent work, excellent communication during duration
                                            of
                                            job, and provides a process that makes delivery of digital files to him
                                            quick and easy. A great company to work with on deadline - they are
                                            responsive
                                            and the completed transcript is excellent. Planning to work with them again
                                            soon. Highly recommended.</p>
                                        <small>Robert Coe</small>

                                    </blockquote>
                                </div>
                            </div>


                        </div>


                        <a class="left carousel-control" href="#quote-carousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#quote-carousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- TESTIMONIALS SECTION END -->

    </div>

{% endblock %}