{% extends "base.html" %}
{% block content %}
    <div class="index">

        <div class="landing" id="page-top">
            <h1 class="landing-heading">From €0.99 Per Audio Minute...</h1>
            <div class="landing-icons">
                <div class="landing-icon-box">
                    <div id="landing-icon-1"></div>
                    <h1 class="landing-icon-text">Professional Transcription</h1>
                </div>
                <div class="landing-icon-box">
                    <div id="landing-icon-2"></div>
                    <h1 class="landing-icon-text">Excelent Formatting</h1>
                </div>
                <div class="landing-icon-box">
                   <div id="landing-icon-3"></div>
                    <h1 class="landing-icon-text">99% Accurate</h1>
                </div>
            </div>
        </div>

        <div id="about-anchor"></div>
        <div class="about">

            <div class="about-1">
                <div class="about-info" id="about-info-default">
                    <h1>ABOUT US</h1>
                    <p>Type It Now is an audio and video transcription service. We do academic, medical,
                        and legal transcription. The transcripts we produce are manually typed by experienced
                        transcriptionists and are at least 99% accurate – transcripts are delivered in Microsoft
                        Word documents.</p>
                    <div class="about-1-icons">
                        <div id="about-1-fb"></div>
                        <div id="about-1-google"></div>
                        <div id="about-1-twitter"></div>
                    </div>
                </div>
                <div class="about-info" id="about-info-TAT">
                    <h1>Turn Around Time</h1>
                    <h4>The Turn Around Time Information</h4>
                </div>
                <div class="about-info" id="about-info-TimeStamps"></div>
                <div class="about-info" id="about-info-Accents"></div>
                <div class="about-info" id="about-info-Formatting"></div>
                <div class="about-info" id="about-info-FileTypes"></div>
                <div class="about-info" id="about-info-Conf"></div>
            </div>

            <div class="about-2">
                <h1>What We Offer</h1>
                <div class="about-2-icons">
                    <div class="about-2-icon-box active-item">
                        <h4>Turn Around Time</h4>
                        <div id="about-2-icon-1" class="active-box"></div>
                    </div>
                    <div class="about-2-icon-box">
                        <h4>Time Stamps</h4>
                        <div id="about-2-icon-2"></div>
                    </div>
                    <div class="about-2-icon-box">
                        <h4>Accents</h4>
                        <div id="about-2-icon-3"></div>
                    </div>
                    <div class="about-2-icon-box">
                        <h4>Formatting</h4>
                        <div id="about-2-icon-4"></div>
                    </div>
                    <div class="about-2-icon-box">
                        <h4>File Types</h4>
                        <div id="about-2-icon-5"></div>
                    </div>
                    <div class="about-2-icon-box">
                        <h4>Confidentiality</h4>
                        <div id="about-2-icon-6"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div id="services-anchor"></div>
            <div class="services">
                <div class="services-box">
                    <div class="services-title">
                        <h3>Custom Transcription Services</h3>
                    </div>
                    <div class="services-content">
                        <div id="services-icon-1"></div>
                        <p>Custom Transcription Services
                            Custom Transcription Services
                            Custom Transcription Services</p>
                        <button class="btn services-btn"><a href="{% url 'instantquote' %}">Transcribe</a></button>
                    </div>
                </div>

                <div class="services-box">
                    <div class="services-title">
                        <h3>Audio and Video Transcription Services</h3>
                    </div>
                    <div class="services-content">
                        <div id="services-icon-2"></div>
                        <p>Audio and Video Transcription Services
                            Audio and Video Transcription Services
                            Audio and Video Transcription Services</p>
                        <button class="btn services-btn"><a href="{% url 'instantquote' %}">Transcribe</a></button>
                    </div>
                </div>

                <div class="services-box">
                    <div class="services-title">
                        <h3>Academic Discount</h3>
                    </div>
                    <div class="services-content">
                        <div id="services-icon-3"></div>
                        <p>Student Discount
                            Student Discount
                            Student Discount</p>
                        <button class="btn services-btn"><a href="{% url 'instantquote' %}">Transcribe</a></button>
                    </div>
                </div>
            </div>

            <div class="quote">
                <div class="quote-circ-background">
                    <div class="quote-circ">

                        <div class="quote-title">
                            <h2>Want an Instant Quote?</h2>
                        </div>
                        <button class="btn quote-btn"><a href="{% url 'instantquote' %}">Instant Quote Calculator</a></button>
                    </div>
                </div>
                <div class="quote-circ-background">
                    <div class="quote-circ">

                        <div class="quote-title">
                            <h2>Want a Custom Quote?</h2>
                        </div>
                        <button class="btn quote-btn"><a href="{% url 'customquote' %}">Custom Quote Form</a></button>
                    </div>
                </div>

            </div>
        </div>


        <div id="process-anchor"></div>
        <div class="process">

            <div class="process-boxs active-item">
                <div class="process-box-1">
                    <div id="process-icon-1"></div>
                    <h4>Discuss</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-1">1</div>
                </div>
            </div>

            <div class="process-boxs">
                <div class="process-box-1">
                    <div id="process-icon-2"></div>
                    <h4>Upload</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-2">2</div>
                </div>
            </div>

            <div class="process-boxs">
                <div class="process-box-1">
                    <div id="process-icon-3"></div>
                    <h4>Wait</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-3">3</div>
                </div>
            </div>

            <div class="process-boxs">
                <div class="process-box-1">
                    <div id="process-icon-4"></div>
                    <h4>Pick Up</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-4">4</div>
                </div>
            </div>

        </div>

        <div class="process-info">
            <div class="process-info-header">
                <h2>Let Us Know What You Need</h2>
            </div>
            <div class="process-info-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel
                    beatae
                    natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam
                    deleniti eos cupiditate dolore doloribus!</p>
            </div>
        </div>

        <div class="testimonials" id="testimonials-anchor">
            <div class="container">
            <div class="row">
                <div>
                    <h1>Testimonials</h1>
                </div>
            </div>
            <div class='row'>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>
                    </ol>


                    <div class="carousel-inner">


                        <div class="item active">
                            <div class="testimonial-box">
                                <blockquote>

                                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                                        consectetur, adipisci velit!</p>
                                    <small>Someone famous</small>

                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-box">
                                <blockquote>

                                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                                        consectetur, adipisci velit!</p>
                                    <small>Someone famous</small>

                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-box">
                                <blockquote>

                                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                                        consectetur, adipisci velit!</p>
                                    <small>Someone famous</small>

                                </blockquote>
                            </div>
                        </div>


                    </div>


                    <a class="left carousel-control" href="#quote-carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#quote-carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            </div>
        </div>

    </div>

{% endblock %}